header
    .logo
        img
            width: 232px
            height: 44px

    div.row
        div.col-lg-8.offset-lg-2
            nav
                a
                    text-transform: uppercase
                    font-family: 'Poppins', sans-serif
                    font-size: 13px
                    font-weight: 400
                    color: #878787
                .active
                    color: #333333

        div.col-lg-2
            .nav-connexion
                display: flex

                .btn
                    border: 1px solid #000