#jumbotron
    background: #f3f3f3

    h1, h2
        font-family: $font-main

    h2
        font-size: 50px
        color: $primary
        font-weight: 300
    
    h1
        font-size: 100px
        color: #161616
        font-weight: 700


    // MEDIA QUERIES
    @media only screen and (max-width: 768px)
        h2
            font-size: 25px
        
        h1
            font-size: 50px