#products
    h3
        font-size: 23px
        font-weight: 700

    .card
        border: none

        div.col-3.offset-1
            margin-top: 13px

            .sale
                width: 48px
                height: 48px
                padding: 15px 8px
                border-radius: 50%
                background: $primary
                color: #fff
                font-size: 13px
                font-weight: 600

        a
            text-decoration: none
            color: #191919
            font-family: $font-main

            h5
                font-size: 17px

        p
            color: $primary
            font-family: $font-main
            font-size: 15px
            font-weight: 800

            span
                color: #cacaca
                margin-right: 5px
                text-decoration: line-through