#products-slider
    h3
        font-size: 23px
        font-weight: 700

    .card
        border: none
        background: #fff

        .card-body
            z-index: 1
            background: #fff

        .buy-btns
            position: absolute
            left: 0
            right: 0
            bottom: 0
            transition: .5s
            
            .btn
                width: 100%
                border: none
                border-radius: 0
                color: #fff
                height: 58px
                font-family: $font-btn
                font-size: 13px
                font-weight: 100

            .btn-details
                background: #050302

            .btn-cart
                background: rgba(187, 89, 81, .8)

        div.col-4
            margin-top: 13px

            .sale
                width: 48px
                height: 48px
                padding: 15px 8px
                border-radius: 50%
                background: $primary
                color: #fff
                font-size: 13px
                font-weight: 600


        a
            text-decoration: none
            color: #191919
            font-family: $font-main

            h5
                font-size: 17px

        p
            color: $primary
            font-family: $font-main
            font-size: 15px
            font-weight: 800

            span
                color: #cacaca
                margin-right: 5px
                text-decoration: line-through
    
    // CARDS HOVER EFFECT
    .card:hover .buy-btns
        bottom: 110px
    
        .card:hover
            img
                transform: scale(1.1)

    // CAROUSEL SLIDERS
    .carousel-indicators
        z-index: 100
        
        li
            width: 3px
            height: 3px
            border-radius: 50%
        .active
            background: #8a8a8a